body * {
    font-family: 'Inter', sans-serif;
}

.no-padd {
    padding-top:0;
    padding-bottom:0;
}

.small-heading {
    p {
        font-weight:500;
        color:#0B1997;
        font-size:2.25rem;
        line-height:140%;
        margin-bottom:3rem;
        @media (max-width: 768px) {
            font-size:2rem;
        }
    }
}

h4 {
    padding-bottom: 1rem;
    color: #00a099;
    font-size: 1.375rem;
    font-weight: 500;
}

.padd-bottom {
    padding-bottom:1rem;
    &.big {
        padding-bottom:3rem;
    }
}

@media (max-width: 768px) {
    .mob-padd-bottom {
        padding-bottom:2rem;
    }   
}

.medium {
    em {
        font-style:normal;
        color: #00a099;
    }
    font-weight:500;
}

.table {
    margin-bottom:0;
    table {
        margin-top:2rem;
        width:100%;
        border-top:1px solid #0B1997;
        border-bottom:1px solid #0B1997;
        overflow-y:hidden;
        overflow-x:scroll;
        table-layout:fixed;
        @media (max-width: 768px) {
            display:block;
        }
        tbody, thead {
            width:100%;
            @media (max-width: 768px) {
                min-width:566px;
                display:block;
            }
        }
        tr {
            border-top:0;
            td, th {
                border:0;
                color: #0B1997;
                padding:0.5rem 1.5rem;
                height:72px;
                vertical-align:middle;
                font-size:1.125rem;
                border-left:1px solid #0B1997;
                border-right:1px solid #0B1997;
                position:relative;
                width:33.33%;
                &:after {
                    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230B1997FF' stroke-width='4' stroke-dasharray='1%2c 5' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
                    height:1px;
                    content:'';
                    position:absolute;
                    left:0;
                    bottom:-1px;
                    width:100%;
                    background-size:100%;
                }
                @media (max-width: 768px) {
                    padding:1rem 0.75rem;
                    font-size:1rem;
                }
            }
            th {
                background-color:#E6EBF2;
                font-weight:500;
            }
        }
    }
    .button-col {
        @media (max-width: 1200px) {
            margin-top:2rem;
            div {
                text-align:center;
            }
        }
        @media (max-width: 480px) {
            a {
                width:100%;
            }
        }
    }
}

.button-col {
    text-align:right;
    .button {
        background-color:#00A099;
        border:1px solid #00A099;
        color: white;
        border-radius:60px;
        font-size:1rem;
        font-weight:500;
        padding: 1rem 1.5rem;
        transition:all 0.5s linear;
        display:inline-block;
        &:hover {
            background-color:#fff;
            color:#00A099;
            text-decoration:none;
        }
        &.alt {
            margin-top:1.5rem;
            background-color:#fff;
            color:#00A099;
            &:hover {
                background-color:#00A099;
                color:#fff;
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    height: 6px;
    position:absolute;
    top:0;
    width:6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #E6EBF2; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0B1997; 
    border-radius:20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.buttons {
    padding-top:0;
    margin-top:-2rem;
    .button {
        background-color:#00A099;
        border:1px solid #00A099;
        margin-bottom: 1rem;
        color: white;
        border-radius:60px;
        font-size:1rem;
        font-weight:500;
        padding: 1rem 1.5rem;
        transition:all 0.5s linear;
        display:inline-block;
        margin-right:1rem;
        text-align:center;
        &:hover {
            background-color:#fff;
            color:#00A099;
            text-decoration:none;
        }
        @media (max-width: 460px) {
            width:100%;
        }
    }
}