footer {
    background-color: #e6ebf2;
    .container-fluid {
        text-align:center;
        padding-top:2rem;
        padding-bottom:2rem;
        @media (max-width: 768px) {
            display:flex!important;
            justify-content: space-between!important;
        }
        a {
            color:#0B1997;
            padding:0 1.5rem;
            font-weight:500;
            line-height:140%;
            font-size:1.125rem;
            @media (max-width: 768px) {
                font-size:1rem!important;
                padding:0.5rem;
            }
        }
    }
}