.banner .nav li {
  @extend .nav-item;
}
  
.banner .nav a {
  @extend .nav-link;
}
  
header {
  &.banner {
    .container-fluid {
      padding-top: 2rem;
      padding-bottom: 2rem;
      @media (max-width: 768px) {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      .row {
        align-items:center;
        @media (max-width: 768px) {
          align-items:flex-end;
        }
      }
      svg {
        @media (max-width: 768px) {
          transform: scale(0.83);
          margin-left: -0.75rem;
        }
      }
    }
  }
  .button {
    @media (max-width: 768px) {
      font-size:0.75rem!important;
      padding:.75rem 1rem!important;
      margin-bottom:0.75rem;
    }
  }
}
        
.container-fluid {
  &.intro {
    padding-top:4.375rem;
    padding-bottom:4.375rem;
    @media (max-width: 768px) {
      padding-top:4rem;
      padding-bottom:0rem;
    }
    .page-header {
      h1 {
        font-size:4.625rem;
        color:#0B1997;
        line-height:114%;
        font-weight:500;
        @media (max-width: 768px) {
          font-size:2.5rem;
        }
        br {
          @media (max-width: 768px) {
            display:none;
          }
        }
      }
    }
  }
}