.container-fluid {
    max-width: 1440px;
    padding: 5.25rem 5.2rem 5.25rem 5.2rem;
    @media (max-width: 768px) {
        padding: 3.75rem 1rem 3.75rem 1rem;
    }
}
.no-padding-top-bottom {
    padding: 0rem;
    padding-left: 5.25rem;
    padding-right: 5.25rem;
    @media (max-width: 768px) {
        padding: 0px !important;
        padding-left: 5.2rem !important;
        padding-right: 5.2rem !important;
    }
}
hr {
    margin: 0px auto;
    border-top: solid 1px #0B1997;
}
h2, h3 {
    line-height: 140%;
    font-size: 22px;
    z-index: 50;
}
.page-header h1 {
    font-size: 4.62rem;
}
.bold {
    font-weight: 500;
}

tbody tr:last-child td {
    font-weight: 500;
}


p {
    color: darkblue;
    font-size: 1.125rem;
    @media (max-width: 768px) {
        font-size: 1rem;
    }
}
.large {
    p {
        font-size: 1.375rem;
        font-weight: 500;
        @media (max-width: 768px) {
            font-size: 1.25rem;
        }
    }
}
.green {
    color: #00A099;
}
p, li, h2 {
    a {
        transition: all 0.5s linear;
        color: #00A099;
        &:hover {
            text-decoration:none;
            opacity:0.75;
        }
    }
}
.darkblue {
    color: darkblue;
}
.pb-36 {
    padding-bottom: 1.5rem;
}



// background colors
.pink-bg {
    background-color: #ebedf2;
    z-index: 1;
}


/* modal */


.modal-dialog {
    max-width: 800px;
    width: 100%;

    .modal-content {
        padding: 20px;
    }

    button.close {
        color: white;
        background: #042d8b;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        line-height: 0px;
        text-align: center;
        position: relative;

        span {
            position: absolute;
            left: 0;
            right: 0;
            top: 45%;
        }
    }
    .close {
        opacity: 1;
    }

    .gdpr-policy {
        text-align: left;
        float: left;

        p {
            font-size: 1rem;
        }
    }    

    .modal-body {
        margin: 0 auto;
        text-align: center;

        select {
            width: 100%;
            height: 40px;
            background-color: #ebedf2;
            border: none;
            padding: 5px;
            color: darkblue;
        }
    }

    input.wpcf7-submit {
        background-color: #00A099;
        border: none;
        color: white;
        padding: 10px;
        border-radius: 60px;
        min-width: 130px;
        transition: all 0.5s linear;
        float: right;
        border: solid 1px white;

        &:hover {
            background-color: #fff;
            color: #00A099;
            text-decoration: none;
            border: 1px solid #00A099;
        }
    }
    .wpcf7-response-output {
        text-align: left;
        float: left;
    }
    .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
        border-color: #00a099;
        background: #00a099;
        color: white;
        border-radius: 10px;
        margin: 0px;
    }
    .wpcf7-not-valid {
        border: solid 2px red !important;
    }
    span.wpcf7-not-valid-tip {
        display: none;
    }
    .modal-dialog button.close:hover {
        background: #042d8b !important; 
    } 

    .no-margin {
        margin-bottom: 0px;
    }
    .modal {
        background-color: #EAEAEB;
        opacity: 96%;
    }

    .modal-content {
        margin-top: 15%;

        .modal-header {
            border: none;
        }
        .modal-footer {
            border: none;
            padding: 0px;
            display: block;
        }
    }

    ul {
        padding: 0px;
        &.form {
            li {
                width: calc(100% / 2 - 10px);
                display: inline-block;
                margin-bottom: 15px;
                margin-left: 15px;

                input {
                    width: 100%;
                    height: 40px;
                    box-sizing: border-box;
                    padding: 10px;
                    background-color: #ebedf2;
                    border: none;

                    &::placeholder {
                        color: #042d8b;;
                    }
                }
                &.left-input {
                    margin-left: 0px !important;
                }
            }
        }
    }
}

.in-the-uk-title {
    p {
        margin-top: -50px;
        margin-bottom: 20px;
        line-height: 140%;
        font-size: 22px;
    }
}

.container-fluid {
    ul {    
        @media (max-width: 768px) {
            margin-left: -17px;
            margin-top: 2.5rem;
        }
        li {
            margin-bottom: 1.5rem;
            color: darkblue;
            list-style: none;
            font-size: 1.12rem;

            &:last-child {
                margin-bottom: 0px;
            }
            &::before {
                content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                color: #00A099;; /* Change the color */
                font-weight: bold; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em; /* Also needed for space (tweak if needed) */
                font-size: 1.43rem;
            }
        }
    }   
}



@media (max-width: 768px) {
    .gdpr-policy br {
        display: none;
    }
    .modal-dialog {
        padding: 20px;
        margin: 0 auto;
    }
    .modal-dialog ul.form li {
        width: calc(100% / 1);
        margin-bottom: 20px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .modal-dialog .gdpr-policy {
        float: none;
    }
    .modal-dialog input.wpcf7-submit {
        float: left;
        width: 100%;
        display: block;
    }
    h5.modal-title {
        display: block;
        max-width: 257px;
        margin-top: 35px;
        font-size: 1.37rem;
    }
    br.responsive-br {
        display: none;
    }
    .in-the-uk-title {
        margin-top: 0px;
    }
}
